@using System.Globalization;
@using WebECommerce.Entity;
@{
    ViewData["Title"] = "Detalhes";
}
<br />
<br />
<br />
<br />
@model TipoPagamentoModel

<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <p>Detalhes do produto (CPS00-@ViewBag.id)</p>
        <div class="row">
            <div class="swiper product-swiper">
                @{
                    int prodId = Convert.ToInt32(ViewBag.id);

                    <div class="swiper-wrapper">
                        @foreach (var item in WebECommerce.Models.ProdutosModel.GetInstacia().ListarProdutosById(prodId))
                        {
                            <div class="swiper-slide">
                                <div class="product-card position-relative">
                                    <div class="image-holder">
                                        <img src="~/imagens/@item.Imagem" style="max-width: 450px; max-height: 300px" alt="product-item" class="img-fluid" width="250" height="250">
                                    </div>
                                    <div class="cart-concern position-absolute">
                                        <div class="cart-button d-flex">
                                            <a asp-area="" asp-controller="Produto" asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-medium btn-black">Comprar<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card position-relative">
                                        <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                            <h3 class="card-title text-uppercase">
                                                <a>Produto: @WebECommerce.Models.ProdutosModel.GetInstacia().ListarProdutosById(prodId)[0].Nome</a>
                                            </h3>
                                        </div>
                                        <form method="post" id="formulario">

                                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                                <h3 class="card-title text-uppercase">
                                                    <a>Preco: @WebECommerce.Models.ProdutosModel.GetInstacia().ListarProdutosById(prodId)[0].Preco.ToString("N2",CultureInfo.CurrentCulture)</a>
                                                    <input type="text" hidden="hidden" name="preco" value="@item.Preco"/>
                                                </h3>
                                            </div>
                                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                                <h3 class="card-title text-uppercase">
                                                    <a>Desconto: @WebECommerce.Models.ProdutosModel.GetInstacia().ListarProdutosById(prodId)[0].Desconto</a>
                                                    <input type="text" hidden="hidden" name="desconto" value="@item.Desconto" />
                                                </h3>
                                            </div>
                                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                                <h3 class="card-title text-uppercase">
                                                    <a>Tipo de Pagamento: </a>
                                                    <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                                        <h3 class="card-title text-uppercase" style="font-size:20px">
                                                            <a>Quantidade: <input type="number" name="quantidade" value="0" style="width:100px;height:30px" /></a>
                                                        </h3>
                                                    </div>
                                                    <select class="form-control" name="Tipo">
                                                        <option value="0">Selecione o tipo de pagamento</option>
                                                        @foreach (var tipo in Model.ListarTipoPagamento())
                                                        {
                                                            <option value="@tipo.Id">@tipo.Tipo</option>
                                                        }
                                                    </select>
                                                    <br />
                                                    <br />
                                                    <!--<button type="submit" class="btn btn-medium btn-black">Finalizar</button>-->
                                                    <button type="submit" class="form-group btn btn-primary">Finalizar</button>
                                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger">Cancelar</a>
                                                </h3>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>